<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
<!--         Database configuration settings-->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/[yourDataBasename]</property>
        <property name="connection.username">[your db user name]</property>
        <property name="connection.password">[your db uer password]</property>

<!--        Hibernate configuration settings -->
                                            <!-- dialect is the way to talk with different databases all data base have different different dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Entity class mapping -->
<!--         <mapping resource="" />  used to map xml file  -->
        <mapping class="[provide class name which one you want  to mapp ]"/>   <!-- used to map class -->
    </session-factory>
</hibernate-configuration>
